pip
pandas
numpy
scikit-learn
opencv-contrib-python
streamlit            
PyMuPDF              
python-magic         
pyexiv2              
stqdm                
streamlit-aggrid     
terran
streamlit-terran-timeline
mtcnn                
tensorflow           
libsvm               
image-quality        
dface                
torch                
torchvision          
torchaudio           
fer                  
py-feat              
basicsr              
gfpgan               
PyExifTool           
streamlit-folium     
locationtagger       
geopandas            
tika                 
geopy                
perdido
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.0/en_core_web_sm-3.4.0-py3-none-any.whl
imagehash
